*{
    box-sizing: border-box;
}

:root{
    --heading-font: 'Sora','san-serif';
    --text-color: #656689;
    --dark-blue: #000958;
    --primary-bg: #FFFAF5;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
}

/* Common */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading-desc{
    color: var(--text-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
}

/* Header */

.header{
    padding: 34px 0 8px;
    background-color: var(--primary-bg);
    z-index: 99;
}

.header--fixed{
    position: sticky;
    top: -26px;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list{
    display: flex;
}

.navbar__link{
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.navbar__link--active,
.navbar__link:hover{
    text-shadow: 1px 0 0;
    color: var(--dark-blue);
}

.signup-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    height: 50px;
    color: var(--dark-blue);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    border: 1px solid var(--dark-blue);
    border-radius: 25px;
    text-decoration: none;
}

.signup-btn:hover{
    opacity: 0.7;
}

/* Hero */

.hero{
    padding:92px 0 94px;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__img-wrap{
    display: flex;
    align-items: flex-end;
    background-color: #FE997B;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    position: relative;
    border: 3px solid #fff;
}

.hero__img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero__decor-left{
    position: absolute;
    left: -50px;
    bottom: 8px;
    z-index: -1;
}

.hero__decor-right{
    position: absolute;
    top: 16px;
    left: 382px;
    z-index: -1;
}

.hero__img-wrap--small{
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background-color: #FAA7AD;
    margin-bottom: -58px;
    margin-left: -24px;
    border-color: #fde0e2;
}

.hero__media{
    position: relative;
    display: flex;
}

.hero__media-item{
    display: flex;
    gap: 0 8px;
}

.hero__media-item:first-child{
    padding-bottom: 18px;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 16px;
}

.hero-item__title{
    color: #181E52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.hero-item__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #FEC23F;
}

.hero__media-info{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 6px 0;
}

.hero-item__skeleton{
    display: inline-block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background-color: var(--dark-blue);
}

.hero-item__skeleton--small{
   width: 39px;;
}

.hero__media-list{
    position: absolute;
    right: 172px;
    bottom: -92px;
    width: 250px;
    height: 156px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 20px 14px;
}

.hero-item__img--bottom{
    background-color: #6597C2;
}

.hero__content{
    width: 44%;
}

.hero__heading{
    color: #000958;
    font-family: var(--heading-font);
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 24px;
}

.hero__desc{
    width: 76%;
    margin-bottom: 38px;
}

.hero__book-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    min-width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
}

.hero__book-btn:hover{
    opacity: 0.9;
}

.book-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.hero__link{
    margin-left: 24px;
    color: var(--dark-blue);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; 
}

.hero__link:hover{
    opacity: 0.9;
}
