*{
    box-sizing: border-box;
}

:root{
    --heading-font: 'Sora','san-serif';
    --text-color: #656689;
    --dark-blue: #000958;
    --primary-bg: #FFFAF5;
    --dark-orange: #FF5D31;
    --orange: #FF5B2E;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
}

/* Common */
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading-desc{
    color: var(--text-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
}

.title{
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.section-heading{
    color: var(--dark-blue);
    font-family: Sora;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}

.section-item-heading{
    color: var(--dark-blue);
    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.section-item-desc{
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

}

.btn{
    display: inline-block;
    min-width: 193px;
    height: 56px;
    padding: 20px 40px;
    border-radius: 31px;
    border: 1px solid var(--orange);
    color: var(--orange);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
}

.btn:hover{
    opacity: 0.8;
}

/* Header */
.header{
    padding: 34px 0 8px;
    background-color: var(--primary-bg);
    z-index: 99;
}

.header--fixed{
    position: sticky;
    top: -26px;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list{
    display: flex;
}

.navbar__link{
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
}

.navbar__link--active,
.navbar__link:hover{
    text-shadow: 1px 0 0;
    color: var(--dark-blue);
}

.signup-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    height: 50px;
    color: var(--dark-blue);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    border: 1px solid var(--dark-blue);
    border-radius: 25px;
    text-decoration: none;
}

.signup-btn:hover{
    opacity: 0.7;
}

/* Hero */
.hero{
    padding:92px 0 94px;
}

.hero__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__img-wrap{
    display: flex;
    align-items: flex-end;
    background-color: #FE997B;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    position: relative;
    border: 3px solid #fff;
}

.hero__img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero__decor-left{
    position: absolute;
    left: -50px;
    bottom: 8px;
    z-index: -1;
}

.hero__decor-right{
    position: absolute;
    top: 16px;
    left: 382px;
    z-index: -1;
}

.hero__img-wrap--small{
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background-color: #FAA7AD;
    margin-bottom: -58px;
    margin-left: -24px;
    border-color: #fde0e2;
}

.hero__media{
    position: relative;
    display: flex;
}

.hero__media-item{
    display: flex;
    gap: 0 8px;
}

.hero__media-item:first-child{
    padding-bottom: 18px;
    border-bottom: 2px solid #F2F2F2;
    margin-bottom: 16px;
}

.hero-item__title{
    color: #181E52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.hero-item__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background-color: #FEC23F;
}

.hero__media-info{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 6px 0;
}

.hero-item__skeleton{
    display: inline-block;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background-color: var(--dark-blue);
}

.hero-item__skeleton--small{
   width: 39px;;
}

.hero__media-list{
    position: absolute;
    right: 172px;
    bottom: -92px;
    width: 250px;
    height: 156px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 20px 14px;
}

.hero-item__img--bottom{
    background-color: #6597C2;
}

.hero__content{
    width: 44%;
}

.hero__heading{
    color: #000958;
    font-family: var(--heading-font);
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 24px;
}

.hero__desc{
    width: 76%;
    margin-bottom: 38px;
}

.hero__book-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    min-width: 189px;
    height: 60px;
    border-radius: 31px;
    background: var(--orange);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
}

.hero__book-btn:hover{
    opacity: 0.9;
}

.book-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.hero__link{
    margin-left: 24px;
    color: var(--dark-blue);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1; 
}

.hero__link:hover{
    opacity: 0.9;
}

/* About */
.about{
    margin-top: 77px;
}

.about__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 53px 0 0;
    row-gap: 154px;
}

.about__desc{
    width: 431px;
}

.about__heading{
    width: 446px;
    margin: 15px 0 24px;
}

.about__list{
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 36px;
    row-gap: 40px;
}

.about-item__label{
    display: flex;
    align-items: center;
    color: #48496A;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    position: relative;
}

.about-item__label::after,
.about-item__label::before{
    content: '';
    display: inline-block;
}

.about-item__label::before{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.about-item [type='checkbox']:checked + .about-item__label::before{
    background-color:var(--dark-orange);
    border-color: var(--dark-orange);
    box-shadow: 0 4px 15px -3px var(--dark-orange);
}

.about-item [type='checkbox']:checked + .about-item__label::after{
    position: absolute;
    top: 5px;
    left: 6px;
    width: 12px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: #fff;
    rotate: -45deg;
}

.about__media{
    position: relative;
}

.about__card{
    width: 136px;
    border-radius: 10px;
    background-color: #5BD6E2;
    position: absolute;
    top: 165px;
    left: 0;
    padding: 31px 27px;
    z-index: 1;
}

.about__card-img{
    position: absolute;
    object-fit: cover;
    top: -38px;
    right: -33px;
}

.about__card-title{
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.about__card-desc{
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.428;
}

.about__img-wrap{
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img{
    display: block;
    margin: 0 auto; 
}

.about__img-bottom{
    margin: 0;
}

.about__img-wrap::after{
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    content: "";
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about-media__decor{
    position: absolute;
    top: 157px;
    right: -46px;
    z-index: -2;
}

.about__media-bottom{
    width: 458px;
    height: 500px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img-wrap-bottom::after{
    content: none;
    object-fit: cover;
}

.about__media-decor{
    position: absolute;
}

.about__media-decor:first-child{
    top: -16px;
    right: 13px;
}

.about__media-decor:nth-child(2){
    top: 12.5px;
    right: 63px;
}

.about__media-decor:nth-child(3){
    top: 33px;
    right: -21px;
}

.about__media-decor:nth-child(4){
    top: 268px;
    left: 468px;
}

.about__media-decor:nth-child(5){
    top: 336px;
    right: 19px;
}

.about__media-decor:nth-child(6){
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom{
    width: 511px;
    margin: 24px 0 50px;
}

.tab-list{
    display: inline-flex;
    column-gap: 56px;
    position: relative;
}

.tab-item{
    display: flex;
    align-items: center;
    column-gap: 12px;
    white-space: nowrap;
    position: relative;
    padding-bottom: 12px;
    cursor: pointer;
}

.tab-item:hover{
    opacity: 0.9;
}

.tab__icon{
    width: 22px;
}

.tab__title{
    color: #48496A;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.tab-list::after,
.tab-item--active::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    display: block;
    opacity: 0.07;
    background: var(--dark-orange);
    border-radius: 1px;
}

.tab-item--active::before{
    width: 95px;
    opacity: 1;
}

.tab__content-desc{
    width: 391px;
    padding: 36px 0 32px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content-more{
    color: var(--dark-orange);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 5px 0;
    position: relative;
}

.tab__content-more:hover{
    opacity: 0.9;
}

.tab__content-more::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1.5px;
    background-color: var(--dark-orange);
    border-radius: 1.5px;
}

.tab__content-item {
    display: none;
}
.tab__content-item.active {
    display: block;
}

.service{
    margin-top: 130px;
    background-color: #FFF6ED;
    padding: 68px 0 100px;
}

.service-body{
    display: grid;
    grid-template-columns: 0.66fr 1fr 0.66fr;
    column-gap: 64px;
    align-items: center;
}

.service__img{
    width: 100%;
    height: 621px;
    object-fit: cover;
    position: relative;
}

.service-top{
    text-align: center;
}

.service__heading{
    margin: 15px 0 71px;
}

.service__card{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    padding: 30px 22px 30px 28px;
}

.service__card-heading{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.service__card-heading::before{
    content: "";
    width: 2px;
    height: 22px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px;
    background: linear-gradient(90deg, var(--orange) 0.39%, #FFA187 100.29%);
}

.service-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0;
}

.service-column:nth-child(2){
    margin-top: 18px;
}

.service__card-actions{
    margin-top: 24px;
    display: flex;
    column-gap: 6px;
}

.service__card-link{
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
}

.service-btn{
    width: 214px;
    margin-top: 21px;
}

.service__img-wrap{
    position: relative;
}

.service__img{
    z-index: 1;
    display: flex;
}

.service__img-wrap::after{
    content: "";
    background-color: #99edf7;
    position: absolute;
    top: 42%;
    left: 12px;
    bottom: 0;
    right: 12px;
    border-radius: 8px;
}

.staff{
    padding: 130px 0;
}

.staff-top{
    text-align: center;
}

.staff__heading{
    margin: 15px 0 59px 0;
}

.staff__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 37px;
    margin-bottom: 48px;
}

.staff__item{
    text-align: center;
}

.staff__img-wrap{
    border-radius: 130px;
    margin: 0 16px;
    position: relative;
}

.staff__img-wrap::before{
    content: "";
    width: 100%;
    height: 94%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
    border-radius: inherit;
}

.staff__img-wrap::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
    width: calc(100% + 36px);
    height: 100%;
    background-size: 100%;
}

.staff__item:nth-child(1) .staff__img-wrap::after{
    background-image: url(../img/staff-decor-01.svg);
}

.staff__item:nth-child(2) .staff__img-wrap::before{
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff__item:nth-child(2) .staff__img-wrap::after{
    background-image: url(../img/staff-decor-02.svg);
}

.staff__item:nth-child(3) .staff__img-wrap::before{
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff__item:nth-child(3) .staff__img-wrap::after{
    background-image: url(../img/staff-decor-03.svg);
}

.staff__item:nth-child(4) .staff__img-wrap::before{
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff__item:nth-child(4) .staff__img-wrap::after{
    background-image: url(../img/staff-decor-04.svg);
}

.staff__item:nth-child(even) .staff__img-wrap::after{
    background-position: 0 16px;
}


.staff__img{
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}

.staff__item-desc{
    margin: 29px 0 14px;
}

.staff__btn{
    height: 56px;
}

.staff__action{
    display: flex;
    justify-content: center;
}

.pricing{
    padding: 86px 0;
    background-color: #FFF6ED;
}

.pricing__heading{
    text-align: center;
}

.pricing__desc{
    max-width: 60.5%;
    margin: 24px auto 38px;
    text-align: center;
}

.pricing__switch-wrap{
    display: flex;
    justify-content: center;
}

.pricing__switch-inner{
    position: relative;
}

.pricing__switch-label{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid rgb(255 91 46 / 60%);
    padding: 0 40px;
    cursor: pointer;
    user-select: none;
}

.pricing__switch-label::before{
    content: "";
    width: 140px;
    height: 100%;
    border-radius: inherit;
    background-color: var(--orange);
    position: absolute;
    top: 0;
    left: 0;
}

.pricing__switch-value{
    position: relative;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

.pricing__input:checked + .pricing__switch-label::before{
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__input:checked + .pricing__switch-label .pricing__switch-value:first-child,
.pricing__input:not(:checked) + .pricing__switch-label .pricing__switch-value:last-child{
    color: var(--orange);
}

.pricing__img-decor{
    position: absolute;
    top: -10px;
    left: calc(100% + 24px)
}

.pricing__list{
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    padding:0 88px;
}

.pricing-item{
    border-radius: 20px;
    background: #FFF;
    padding: 30px 28px 43px;
}

.pricing-item--active{
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type{
    color: var(--orange);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 8px;
}

.pricing-item__heading{
    color: #3F4065;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 24px;
}

.pricing-item__price{
    color: var(--dark-blue);
    font-family: var(--heading-font);
    font-size: 3.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.03;
    margin-bottom: 22px;
}

.pricing-item__btn{
    width: 246px;
    height: 44px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 38px;
    transition: background-color .25s ease;
}

.btn--primary{
    color: #fff;
    background-color: var(--orange);
}

.pricing-item__desc{
    line-height: 1;
    display: flex;
}

.pricing-item__desc ~ .pricing-item__desc{
    margin-top: 18px;
}

.pricing-item__desc::before{
    content: url(../icons/Check.svg);
    margin-right: 12px;
}

.review{
    padding: 104px 0 104px;
}

.review__control{
    color: var(--orange);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #FFD1C4;
    background-color: transparent;
    flex-shrink: 0;
}

.review__control:nth-of-type(2){
    margin-left: auto;
}

.review__control:hover{
    cursor: pointer;
    color: #fff;
    background-color: #FF5B2E;
    box-shadow: 0px 5px 27px 0px rgba(255, 91, 46, 0.30);
}

.review__inner{
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review-item{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    transition: transform .3s ease;
}

.review-item__content{
    margin-top: 28px;
}

.review-item__img-wrap{
    width: 274px;
    height: 427px;
    border-radius: 137px;
    position: relative;
    margin-top: -52px;
}

.review-item__img{
    width: 274px;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    position: relative;
    z-index: 1;
    display: block;
}

.review-item__img-wrap::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 82%;
    border-radius: inherit;
    background: #FFDA54;
}


.review-item__desc{
    display: inline-block;
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.56;
}

.review-item__cite{
    margin-top: 34px;
    color: #282828;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
}

.review-item__cite::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
    margin-right: 8px;
    border-radius: 1px;
}

.review__dots{
    display: flex;
    column-gap: 8px;
    margin-top: 56px;
    justify-content: center;
}

.review__dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-radius: 4px;
    border: 1px solid var(--orange);
    cursor: pointer;
}

.review__dot:hover{
    background-color: var(--orange);
}

.review__dot--active{
    width: 24px;
    border-radius: 4px;
    background: var(--orange);
    cursor: default;
}

.review__content{
    overflow: hidden;
}

.review__list{
    display: flex;
}